.form-container{
    position: absolute;
    top:40vh; 
    left:20vw;
    /* margin-top: -50px;
    margin-left: -50px; */
    /*color: #45517d;*/
}

input[type=text]{
    width: 45rem;
    border:none; 
    border-bottom: 3px solid #d4d2cb; 
    font-size:1.6rem; 
    
}

h1{
    color: #5c4d41;
    font-size: 5rem;
}

#next{
    width: 3%;
    height: 3%;
    margin-bottom: 0px;
    margin-top: auto;
}

button{
    margin:10px; 
    margin-left: 15px; 
}