.search svg {
	animation-name: searching;
	animation-duration: 8s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	position: relative;
	width: 5rem;
	height: 5rem;
}

@keyframes searching {
	0% {top: 0; left:0;}
	20% {top: 0; left:100%;}
	25% {top: 0; left:100%;}
	45% {top: 100%; left:100%;}
	50% {top: 100%; left:100%;}
	70% {top: 100%; left:0;}
	75% {top: 100%; left:0;}
	95% {top: 0; left:0;}
	100% {top: 0; left:0;}
}

.search {
	width: 20rem;
	height: 20rem;
	margin: 15vh auto -10vh;
}

p{
	text-align: center;
	font-size: 3vw !important;
}

img{
  width: 10rem; 
  height: 10rem; 
}

.sidebar{
  background-color: #ebe5d8;
  position: absolute;
  padding-top: 40vh;
    /* top:50%;  */
  height:100%;
  width:auto; 
  top: 0px;
}